Package: luci-app-tailscale
Version: 1.0.2
Depends: libc, luci-base, rpcd, tailscale
Section: luci
Architecture: all
Maintainer: Banten IT Solutions <support@bits.co.id>
License: MIT
Description: LuCI support for Tailscale